/* Fonts (to let them work on the EPUB add them via the Makefile) */

@font-face {
  font-family: 'neuzeit';
  font-weight: normal;
  src: url('NeuzeitSLTStd-Book.otf');
}
@font-face {
  font-family: 'neuzeit';
  font-weight: bold;
  src: url('NeuzeitSLTStd-BookHeavy.otf');
}

@font-face {
  font-family: 'vag';
  font-weight: normal;
  src: url('VAGRoundedStdLight.ttf');
}
@font-face {
  font-family: 'vag';
  font-weight: bold;
  src: url('VAGRoundedStdBold.ttf');
}

@font-face {
  font-family: 'opensans';
  font-weight: normal;
  src: url('OpenSans-Light.otf');
}
@font-face {
  font-family: 'opensans';
  font-weight: normal;
  font-style: italic;
  src: url('OpenSans-LightItalic.otf');
}

@font-face {
  font-family: 'opensans';
  font-weight: bold;
  src: url('OpenSans-Semibold.otf');
}
@font-face {
  font-family: 'opensans';
  font-weight: bold;
  font-style: italic;
  src: url('OpenSans-SemiboldItalic.otf');
}


@font-face {
  font-family: 'lato';
  font-style: normal;
  src: url('Lato-Regular.ttf');
}
@font-face {
  font-family: 'lato';
  font-weight: bold;
  src: url('Lato-Bold.ttf');
}
@font-face {
  font-family: 'lato';
  font-style: italic;
  src: url('Lato-Italic.ttf');
}
@font-face {
  font-family: 'lato';
  font-weight: bold;
  font-style: italic;
  src: url('Lato-BoldItalic.ttf');
}



/* General */

html {
  font-size: 100%;
}
body {
  font-size: 1rem;
  background: white;
  color: #444;
  font-family: 'lato', sans-serif;
}


/* Typography */
* {
  word-wrap: break-word;
}
h1, h2, h3, h4, h5, h6 {
  hyphens: none !important;
  -moz-hyphens: none !important;
  -webkit-hyphens: none !important;
  adobe-hyphenate: none !important;
  margin: 2em 0 -0.5em 0;
  font-weight: normal;
  color: #444;
  text-align: center;
  border-top: 1px solid #39FF03;
  border-bottom: 1px solid #39FF03;
  padding: 0.9em;
}
h1 {
  margin-top: 0;
  font-size: 3rem;
  font-weight: bold;
  color: #444;
  border: none;
  text-align: left;
  padding: 0;
}
h2 {
  font-size: 1.5rem;
  font-weight: bold;
  page-break-before: always;
}
h3 {
  font-size: 1rem;
  margin: 4em 2em -0.5em 2em;
  border: 1px dashed #39FF03;
}
h4, h5, h6 {
  font-size: 1rem;
  font-weight: bold;
  color: 444;
  text-transform: uppercase;
  border: none;
}
p {
  margin: 40px auto;
  line-height: 140%;
}
a.footnoteRef{
    vertical-align: super;
    line-height: normal;
    font-size: 0.5em;
}
ul, li {
  line-height: 140%;
}
.pagebr {
  page-break-after: always;
}

/* Links */
a {
  color: #39FF03;
  text-decoration: none;
  background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzOC44MyA1My4zNSI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOm5vbmU7c3Ryb2tlOiMzOWZmMDM7c3Ryb2tlLW1pdGVybGltaXQ6MTA7c3Ryb2tlLXdpZHRoOjNweDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmZsYWc8L3RpdGxlPjxwb2x5bGluZSBjbGFzcz0iY2xzLTEiIHBvaW50cz0iMTQuNDIgNTIuNjggMzYuNTkgOC4zNCA4Ljk4IDMuMiAzMi42OSAxNi4xNiIvPjwvc3ZnPg==");
  background-size: 15px;
  background-position: right;
  background-repeat: no-repeat;
  padding-right: 20px;
  font-weight: bold;
}
.nomargintop {
  margin-top: 0;
}

/* Lists */
ul li {
  list-style: none;
  background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyOS42NyAyOS42NyI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOm5vbmU7c3Ryb2tlOiMzOWZmMDM7c3Ryb2tlLW1pdGVybGltaXQ6MTA7c3Ryb2tlLXdpZHRoOjNweDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmNhbG08L3RpdGxlPjxjaXJjbGUgY2xhc3M9ImNscy0xIiBjeD0iMTQuODMiIGN5PSIxNC44MyIgcj0iMTMuMzMiLz48Y2lyY2xlIGNsYXNzPSJjbHMtMSIgY3g9IjE0LjgzIiBjeT0iMTQuODMiIHI9IjEuNCIvPjwvc3ZnPg==");
  padding-left: 27px;
  background-size: 15px;
  background-position: 0 10px;
  background-repeat: no-repeat;
}
ol li {
  padding-left: 1em;
}

/* TOC */
#toc li {
  list-style: none; 
  background-image: none;
}
#toc a {
  background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyOS42NyAyOS42NyI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOm5vbmU7c3Ryb2tlOiMzOWZmMDM7c3Ryb2tlLW1pdGVybGltaXQ6MTA7c3Ryb2tlLXdpZHRoOjNweDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmNvbXBhc3M8L3RpdGxlPjxjaXJjbGUgY2xhc3M9ImNscy0xIiBjeD0iMTQuODMiIGN5PSIxNC44MyIgcj0iMTMuMzMiLz48cG9seWxpbmUgY2xhc3M9ImNscy0xIiBwb2ludHM9IjE4LjA4IDE3LjQyIDE5LjkzIDEwLjQzIDEyLjgzIDEyLjA4Ii8+PC9zdmc+");
  background-position: center left;
  padding-left: 20px;
}
#toc h4 {
  margin: 0;
}

/* Images */
.figure {
  text-align: center;
  padding: 20px;
}
img {
  max-width: 98%;
  max-height: 98%;
  width: auto;
  height: auto;
  -webkit-box-shadow: 2px 2px 20px 3px rgba(68,68,68,0.18);
  -moz-box-shadow: 2px 2px 20px 3px rgba(68,68,68,0.18);
  box-shadow: 2px 2px 20px 3px rgba(68,68,68,0.18);
}
.caption {
  font-size: 0.5rem;
  font-weight: bold;
  margin-top: 15px;
}
div#cover-image{
    text-align:center;
}
#logos {
  margin: 0 auto;

}
#logos img {
  border: none;
  width: 20%;
  height: auto;
  margin-right: 30px;
  vertical-align: middle;
}
.logo {
  box-shadow: none;
  width: 150px;
  height: auto;
  margin-left: 20px;
}
.noshadow {
  box-shadow: none;
}



/* Program */
#program-table {
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.cell {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  width: 200px;
  height: 200px;
  background-color: white;
  float: left;
  border: 1px solid #39FF03;
  padding: 25px;
}
.event-inside {
  background-color: #39FF03;
}
.date {
  margin: 0 0 20px 0;
  font-size: 0.7rem;
}
.event {
  margin: 0;
  color: white;
  font-size: 2rem;
}
.clear {
  clear: both;
}