/* Fonts (to let them work on the EPUB add them via the Makefile [todo: automate this]) */
@font-face {
  font-family: 'lato';
  font-style: normal;
  font-weight: normal;
  src: url('Lato-Regular.ttf');
}
@font-face {
  font-family: 'lato';
  font-weight: bold;
  src: url('Lato-Bold.ttf');
}
@font-face {
  font-family: 'lato';
  font-style: italic;
  src: url('Lato-Italic.ttf');
}
@font-face {
  font-family: 'lato';
  font-weight: bold;
  font-style: italic;
  src: url('Lato-BoldItalic.ttf');
}
@font-face {
  font-family: 'lato';
  font-weight: 200;
  src: url('Lato-Light.ttf');
}



/* General */
html {
  font-size: 100%;
}
body {
  font-size: 1rem;
  background: white;
  color: #444;
  font-family: 'lato', sans-serif;
}


/* Typography */
* {
  word-wrap: break-word;
}
h1, h2, h3, h4, h5, h6 {
  hyphens: none !important;
  -moz-hyphens: none !important;
  -webkit-hyphens: none !important;
  adobe-hyphenate: none !important;
  margin: 2em 0 -0.5em 0;
  font-weight: normal;
  color: #444;
  text-align: center;
  border-top: 1px solid #39FF03;
  border-bottom: 1px solid #39FF03;
  padding: 0.9em;
}
h1 {
  margin-top: 0;
  font-size: 3rem;
  font-weight: 200;
  color: #444;
  border: none;
  text-align: left;
  padding: 0;
}
h2 {
  font-size: 1.5rem;
  font-weight: 200;
  page-break-before: always;
  margin-bottom: 1em;
}
h3 {
  font-size: 1rem;
  margin: 4em 2em -0.5em 2em;
  border: 1px dashed #39FF03;
}
h4, h5, h6 {
  font-size: 1rem;
  font-weight: bold;
  color: 444;
  text-transform: uppercase;
  border: none;
}
p {
  margin: 40px auto;
  line-height: 140%;
}
a.footnoteRef{
    vertical-align: super;
    line-height: normal;
    font-size: 0.5em;
}
ul, li {
  line-height: 140%;
}
.pagebr {
  page-break-after: always;
}
.numeral {
  color: #39FF03;
  margin-right: 20px;
}

/* Links */
a, a:visited {
  color: #39FF03;
  text-decoration: none;
  background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzNS4wOSA1Mi4wNiI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOm5vbmU7c3Ryb2tlOiMzOWZmMDM7c3Ryb2tlLW1pdGVybGltaXQ6MTA7c3Ryb2tlLXdpZHRoOjJweDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmZsYWc8L3RpdGxlPjxwb2x5bGluZSBjbGFzcz0iY2xzLTEiIHBvaW50cz0iMTEuNDMgNTEuNjEgMzMuNiA3LjI4IDUuOTkgMi4xMyAyOS42OSAxNS4wOSIvPjwvc3ZnPg==");
  background-size: 15px;
  background-position: right;
  background-repeat: no-repeat;
  padding-right: 20px;
  font-weight: bold;
}
.nomargintop {
  margin-top: 0;
}

/* Lists */
ul li {
  list-style: none;
  background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyOC42NyAyOC42NyI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOm5vbmU7c3Ryb2tlOiMzOWZmMDM7c3Ryb2tlLW1pdGVybGltaXQ6MTA7c3Ryb2tlLXdpZHRoOjJweDt9LmNscy0ye2ZpbGw6IzM5ZmYwMzt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmNhbG08L3RpdGxlPjxjaXJjbGUgY2xhc3M9ImNscy0xIiBjeD0iMTQuMzMiIGN5PSIxNC4zMyIgcj0iMTMuMzMiLz48Y2lyY2xlIGNsYXNzPSJjbHMtMiIgY3g9IjE0LjMzIiBjeT0iMTQuMzMiIHI9IjEuNCIvPjwvc3ZnPg==");
  padding-left: 27px;
  background-size: 15px;
  background-position: 0 10px;
  background-repeat: no-repeat;
}
ol li {
  padding-left: 1em;
}

/* TOC */
#toc li {
  list-style: none; 
  background-image: none;
}
#toc a {
  background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyOC42NyAyOC42NyI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOm5vbmU7c3Ryb2tlOiMzOWZmMDM7c3Ryb2tlLW1pdGVybGltaXQ6MTA7c3Ryb2tlLXdpZHRoOjJweDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmNvbXBhc3M8L3RpdGxlPjxjaXJjbGUgY2xhc3M9ImNscy0xIiBjeD0iMTU3NC41NyIgY3k9Ijg0NC41NSIgcj0iMTMuMzMiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xNjk2LjI1IDUzMC41NCkgcm90YXRlKC00NSkiLz48cG9seWxpbmUgY2xhc3M9ImNscy0xIiBwb2ludHM9IjExLjg5IDExLjg5IDE5LjIgOS43NyAxNi44NCAxNi44NCIvPjwvc3ZnPg==");
  background-position: center left;
  padding-left: 20px;
}
#toc h4 {
  margin: 0;
}

/* Images */
.figure {
  text-align: center;
  padding: 20px;
}
img {
  max-width: 98%;
  max-height: 98%;
  width: auto;
  height: auto;
  -webkit-box-shadow: 2px 2px 20px 3px rgba(68,68,68,0.18);
  -moz-box-shadow: 2px 2px 20px 3px rgba(68,68,68,0.18);
  box-shadow: 2px 2px 20px 3px rgba(68,68,68,0.18);
}
.caption {
  font-size: 0.5rem;
  font-weight: bold;
  margin-top: 15px;
}
div#cover-image{
    text-align:center;
}
#logos {
  margin: 0 auto;

}
#logos img {
  border: none;
  width: 20%;
  height: auto;
  margin-right: 30px;
  vertical-align: middle;
}
.logo {
  box-shadow: none;
  width: 150px;
  height: auto;
  margin-left: 20px;
}
.noshadow {
  box-shadow: none;
}
.bigdiagram {
  width: 100%;
  height: auto;
}
.bigpic {
  width: 100%;
  height: auto;
  margin-top: -40px; /* to deal with the auto p */
  margin-bottom: -40px; /* to deal with the auto p */
  box-shadow: none;
}
.centeraligned {
  padding-top: 40%;
  padding-bottom: 40%;
  border-top: 1px solid #39FF03;
  border-bottom: 1px solid #39FF03;
}


/* Program */
#program-table {
  margin-top: 4rem;
  margin-bottom: 2rem;
  padding: 10px;
}
.cell {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  width: 140px;
  height: 140px;
  background-color: white;
  float: left;
  border: 1px dashed #39FF03;
  padding: 25px;

  margin-left: -1px;
  margin-top: -1px;
}
.event-inside {
  background-color: #39FF03;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,1);
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,1);
  box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,1);
}
.date {
  margin: 0 0 20px 0;
  font-size: 0.3rem;
}
.event {
  margin: 0;
  color: white;
  font-size: 0.6rem;
  font-weight: bold;
}
.clear {
  clear: both;
}